$mq-mobile-landscape: 500px !default;
// mixin 정의
@mixin bp-tablet {
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    @content;
  }
}

@mixin bp-pc {
  @media only screen and (min-width: 961px) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: $mq-mobile-landscape) {
    @content;
  }
}

.header {
  height: 4rem;
  &__content {
    position: fixed;
    background: red;
    display: flex;
    align-items: center;
  }
}

.rbc-month-view {
  position: relative;
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
}

.rbc-month-row {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 100px;
  flex: 100px;
  overflow: hidden;
  height: 100%;
}

@keyframes flip {
  0% {
    height: 0;
    overflow: hidden;
  }
  100% {
    height: 10rem;
    overflow: hidden;
  }
}

.home {
  &__header {
    z-index: 999;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    background: darksalmon;
    align-items: center;
    &-logo {
      background: cadetblue;
    }
    &-menu {
      background: darkgray;
      ul {
        background: gold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          color: #fff;
          background: green;
          padding: 0 0.5rem;
          display: inline-block;
        }
      }
    }
  }
  &__main {
    margin-top: 5rem;
    &-top {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
        url("https://images.unsplash.com/photo-1485988412941-77a35537dae4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c9476459aede4e37dbbf9a2153d6377c&auto=format&fit=crop&w=1972&q=80");
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 95vh;
      &-content {
        box-sizing: border-box;
        background: blueviolet;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .box {
          width: 25rem;
          height: 20rem;
          font-size: 1.5rem;
          background: antiquewhite;
          text-align: center;
        }
        .button {
          text-align: center;
        }
      }
    }
    &-mid {
      .box {
        .title {
          font-size: 2rem;
          font-weight: bold;
          p {
            margin: 0;
          }
          &::after {
            content: "";
            width: 3rem;
            height: 0.3rem;
            margin-top: 1rem;
            display: block;
            background: blue;
            margin-bottom: 1rem;
          }
        }
        .desc {
          @include bp-pc {
            width: 50rem;
            height: 10rem;
          }
          width: 100%;
          height: 10rem;
          background: antiquewhite;
          position: relative;
          z-index: 2;
        }
        .media {
          @include mobile-only {
            padding: 0 !important;
          }
        }
      }
    }
    .mid-bottom {
      height: 10rem;
      background: olivedrab;
    }
    &-mid2 {
      height: 92vh;
      background: moccasin;
      .top {
        height: 12vh;
        background: mediumslateblue;
        font-size: 1.5rem;
        text-align: center;
        margin: auto;
      }
      .content {
        height: 80vh;
        .feature {
          height: 100%;
          margin: auto;
          &__row {
            width: 100%;
            padding: 1rem;
            .feature__column {
            }
          }
        }
      }
    }
  }
  &__footer {
    height: 50vh;
    background: beige;
  }
}
