.header {
    height: 4rem;
    &__content {
        position: fixed;
        top: 0;
        background: red;
        display: flex;
        align-items: center;
    }
}

.rbc-month-view {
    position: relative;
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
}

.rbc-month-row {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 100px;
    flex: 100px;
    overflow: hidden;
    height: 100%;
}